.form {
  width: 70%;
  margin: 50px auto;
  background: #fff;
  font-family: "Roboto", sans-serif;
  text-align: center;
  border: 1px solid #277554;
  border-radius: 3px;
  height: 100%;
  position: relative;
  
  &__closeBtn {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #e74c3c;
    color: #000;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #000;
    border-radius: 3px;
    text-decoration: none;
    position: absolute;
    right: 5px;
    top: 5px;
    transition: .3s ease;

    &:hover {
      color: #fff;
      background: darken(#e74c3c, 10%)
    }
  }

  &__heading {
    margin: 40px auto;

    &-title {
    color: #277554;
    font-size: 32px;
    font-weight: 300;
    }
  }

  &__body-form {
    width: 70%;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    &-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
      position: relative;

      &-label {
        color: #277554;
        font-size: 24px;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 6px;
      }

      &-input {
        height: 30px;
        width: 100%;
        border: 1px solid #277554;
        border-radius: 3px;
        color: #277554;
        font-size: 20px;
        height: 36px;
        transition: .3s ease;

        &:focus {
          background: lighten(#277554, 65%);
        }
      }

      &-radio {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 10px;
        color: #277554;
        font-size: 20px;
      }

      &-textarea {
        height: 90px;
        color: #277554;
        font-size: 20px;
        line-height: 30px;
        border: 1px solid #277554;
        border-radius: 3px;
        transition: .3s ease;

        &:focus {
          background: lighten(#277554, 65%);
        }
      }
    }

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto 20px;
      background: #277554;
      width: 300px;
      text-decoration: none;
    }
    
    &-message {
      background: #277554;
      width: 300px;
      height: 40px;
      line-height: 40px;
      color: #fff;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      margin: 10px auto;
      border: 1px solid #000;
      border-radius: 3px;
    }

    &-error {
      background: #e74c3c;
      width: 300px;
      height: 40px;
      line-height: 40px;
      color: #fff;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      margin: 10px auto;
      border: 1px solid #000;
      border-radius: 3px;
    }
  }
}

.display {
  display: block;
  margin: 5px auto;
  color: #e74c3c;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  top: 0;
  left: 0;
}