.bodyForm {
  width: 100%;
  height: 100vh;
  background: #277554;
}

.formLogin {
  margin: 10vh auto;
  width: 70%;
  height: 80vh;
  background: #fff;
  text-align: center;
  position: relative;
}

.login {
  padding-top: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.slogan {
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
