.nav {
  width: 150px;
  margin-right: 50px;
  background: #fff;
    
  &__heading {
    width: 100%;
    background: #277554;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    padding: 5px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    border: 1px solid #555;

    &-item {
      display: block;
      color: #555;
      text-decoration: none;
      padding: 5px 10px;
      transition: all .3s;

      &:not(:last-child) {
        border-bottom: 1px solid #555;
      }

      &:hover {
        background: #ccc;
        border-color: #555;
      }
    }
  }
}

