.searchBar {
  background: #277554;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px; 
  border: 1px solid #ccc;

  &__text {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
  }

  &__input {
    font-size: 20px;
    border: none;
    border-radius: 3px;
    padding: 3px;
    padding-left: 5px;
    transition: .3s;

    &:focus {
      background: #FFEDBF;

    }
  }
}