.users {
  width: 80%;
  height: 100%;
  background: #f4f4f4;
  margin: 5vh auto 5vh;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #000;
  border-radius: 3px;
  position: relative;
    
  &__title {
    margin: 30px auto;
    font-size: 34px;
    font-weight: 300;
    color: green;
  }

  &__list {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 60px;
    
  }

  &__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
            
    &-cell {
      width: 18%;
      font-size: 20px;
      margin: 15px auto;
      text-align: center;

    & > button {
      border: 2px solid #000;
      border-radius: 3px;

      & > i {
        width: 30px;
        font-size: 26px;
        line-height: 30px;
        background: red;
        transition: .3s ease;
        
        &:hover {
          color: white;
          }
        }
      }
    }

    &:last-child {
      margin-bottom: 60px;
    }
  }
}

.users-btn {
  color: #fff;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);

  &:hover {
    transform: translate(-50%, -3px);
  }
}

.alertBox {
  width: 300px;
  height: 40px;
  margin: 30px auto;
  background: red;
  border: 2px solid #000;
  border-radius: 3px;
  line-height: 40px;


  & > h2 {
    font-weight: 300; 
  }
}