.layout {
  width: 100%;
  display: flex;
}

.items {
  background: #ccc;
  flex-grow: 4;
  padding: 20px;
  padding-top: 0;
  font-family: 'Roboto', sans-serif;
  margin-left: 200px;

  &__title {
    font-size: 36px;
    font-weight: 300;
    margin-top: 20px;
    margin-left: 10px;
    
    & > span {
      color: #277554;
      display: inline-block;
      transition: .5s;

      &:hover {
        color: #fff;
        transform: translateY(-6px);
      }
    }

  }

  &__btn {
    position: relative;
    
    &-prev {
      position: absolute;
      left: 30%
    }

    &-next {
      position: absolute;
      right: 30%;
    }
  }
  
  &__btns {
    display: flex;
  }
}

.btn {
  width: 120px;
  height: 50px;
  font-size: 24px;
  line-height: 30px;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  border: 1px solid #000;
  margin: 30px;
  background: #277554;
  color: #fff;
  transition: .3s ease;

  &:hover {
    background: #fff;
    color: #277554;
    transform: translateY(-3px);
    box-shadow: 0 3px 10px #555;
  }

  &:active {
    transform: translateY(0);
    box-shadow: none;

  }
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__btns {
    display: flex;
    
    &-new {
      display: block;
      font-size: 20px;
      width: 160px;
      line-height: 50px;
      text-align: center;
      text-decoration: none;
      text-transform: capitalize;
    }    
  }
}

